/* You can add global styles to this file, and also import other style files */
@import "assets/theme.scss";

* {
  font-family: 'Roboto', sans-serif !important;
}

body {
  background-attachment: fixed;
  background-color: $background;
}