<div class="container-fluid">
  <div class="temp-monitoring">
    <div class="row">

      <div class="col-sm-4 left-side">
        <div class="content">
          <app-weather-board></app-weather-board>
        </div>
      </div>

      <div class="col-sm-8 col-12 right-side">
        <h1>
          Temperature Monitoring
        </h1>
      </div>
      <!-- <h1 class="col-12">
      </h1>
      <div class="row line-chart">
        <div class="col-12">
          <canvas id="chart"></canvas>
        </div>
      </div> -->
    </div>
  </div>
</div>
